<div id="<%= dom_id dislike %>">
  <p>
    <strong>Disliker animal:</strong>
    <%= dislike.disliker_animal_id %>
  </p>

  <p>
    <strong>Disliker user:</strong>
    <%= dislike.disliker_user_id %>
  </p>

  <p>
    <strong>Disliked animal:</strong>
    <%= dislike.disliked_animal_id %>
  </p>

</div>
