<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Welcome to Mate My Pet</h1>
      <p>
        You have successfully signed up,
        your OTP code is: <strong><%= @otp %></strong>.<br>
      </p>
      <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
</html>
