<div id="<%= dom_id chat %>">
  <p>
    <strong>Sender:</strong>
    <%= chat.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= chat.receiver_id %>
  </p>

  <p>
    <strong>Blocker:</strong>
    <%= chat.blocker_id %>
  </p>

</div>
