<h1>Editing user report</h1>

<%= render "form", user_report: @user_report %>

<br>

<div>
  <%= link_to "Show this user report", @user_report %> |
  <%= link_to "Back to user reports", user_reports_path %>
</div>
