<div id="<%= dom_id avatar %>">
  <p>
    <strong>Animal:</strong>
    <%= avatar.animal_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= avatar.url %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= avatar.caption %>
  </p>

</div>
